@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --mainColor: #101010;
    --bg: #f8f9fa;
    --secondColor: #202020;
    --thirdColor: #404040;
    --navColor: #353535;
    --navHover: #202020;
    --navText: #fff;
    --darkenColor: #000000;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.Border {
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
    border: .5px solid rgba(222,226,230,.7);
}

.Center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.CenterY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.CenterX {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.Flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}